body{
    margin: 15px;
    background-color:  #fafaf9;
}


.option{
    margin-top: 5px;
    display: flex;
    min-width: 150px;
    gap: 15px;

    
}

.option select{
    font-size: 0.78rem;
}

.option p{
    min-width: 150px;
}

  


.configuration-panel{
    margin: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Drop shadow */
    padding: 20px;
  
    
}

.options{
    margin: 10px;
    display: flex;
    flex-direction: column;
    color: blue;
}

/*Permissions Window*/

.permissions-list{
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.user-management{
    margin-top: 30px;
}
.ticket-management{

}


.ph-shield-check{
    font-size: 20px;
    color: green;
    margin: 10px;
}


.section-title{
     margin-bottom: 10px;
}

.current-user{
    display: flex;
    font-size: large;
    align-items: center;
}

.current-user h5{
    margin-right: 3%;
}



.editPermissionsWindow {
    display: flex;
    border-radius: 10px;
    justify-items: center;
    flex-direction: column;
    position: fixed;
    box-shadow: 2px 2px 8px black;
    top: 15%;
    left: 50%;
    padding: 20px;
    width: fit-content;
    background-color: #ffffff;
    transform: translateX(-50%);
    z-index: 99;

}

.tooltip {
    position: absolute;
    top: 25%;
    bottom: 0 ;
    left: 60%;
    visibility: hidden;
    color: #fff;
    right: 0;
    border-radius: 8px;
    font-size: 12px;
    background-color: gray;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    transition: opacity 0.3s;
    opacity: 0;
    
}

.current-user{
    position: relative;
    display: flex;

}

.tooltip-container:hover .tooltip{
    visibility: visible;
    opacity: 1;
    
}



.overlay{
    position: fixed;
    background-color: rgba(71, 70, 70, 0.78);
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;

}

.hidden {
    visibility: hidden;
}

.savePermissionsButton{
    margin-top: 30px;
    cursor: pointer;
    border: none;
    background-color: lightblue;
    padding: 10px;
    font-weight: bold;
}

/*Permissions Window*/
