/* Table Layout */
body{
    background-color: #f4f2ee;
    color: black;
    font-family: "Inter",Arial, Helvetica, sans-serif;

}

#tableSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

table {
    background-color: white;
    border: 1px solid black;
    border-collapse: collapse;
    box-shadow: 2px 2px 15px #111111;
    width: 50%;
}

th, td {
    border: 1px solid whitesmoke;
    padding: 10px;
}

.itemCheckbox {
    height: 15px;
    width: 15px;
    margin-right: 5%;
}

/* Add Item Button */
#addItem {
    margin-left: -42%;
    margin-bottom: 2%;
    top: 10%;
    left: 0;
}

/* Add Item Window */
.addItemWindow {
    display: flex;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #111111;
    justify-items: center;
    flex-direction: column;
    position: fixed;
    width: 50%;
    top: 15%;
    left: 50%;
    padding: 10px;
    background-color: #484646;
    transform: translateX(-50%);
    z-index: 99;

}

/* Input Fields */

.input-fields-container {
}

.ticket-description, .input-field {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.input-field input,textarea{
    padding: 10px;
}

#ticketDescription {
    resize: vertical;
}

/* Add Item Window Button */
#addItemWindowButton {
    width: 30%;
    margin: 0 auto;
    padding: 10px;

}

/* Utility Classes */
.hidden {
    visibility: hidden;
}

#overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.18);
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;

}
